body {
    font-family: serif, fantasy;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E9F1FA;
}

header {
    background-color: #E9F1FA;
    padding: 10px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ff3c00;
    -webkit-text-stroke: 0.7px #000000;
}

#searchInput {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

#characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characterCard {
    background-color: #00ABE4;
    border: 3px solid #000000;
    margin: 10px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.characterCard.show {
    opacity: 1;
    transform: translateY(0);
}

.characterImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.characterName {
    margin-top: 10px;
    font-weight: bold;
}

#loadMoreBtn {
    background-color: #00ABE4;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#loadMoreBtn:hover{
    background-color: #ff3c00;;
}

#characterDetail {
    color:#000000;
    display: none;
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.5s;
}

#characterDetail.show {
    display: block;
    opacity: 1;
}

#loadingSpinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #ff3c00;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#footer {
    color: #000000;
    background-color: #ff3c00;
    font-size: 20px;
    margin-top: 210px;
}
